.card {
  max-width: 32rem;
  background-color: var(--white);
  padding: 1.6rem;
  border-radius: 2rem;

  &__img {
    width: 100%;
    border-radius: 1rem;
  }

  &__text-box {
    text-align: center;
    padding: 1.2rem;
    margin: 1.6rem 0 1rem 0;
  }

  // &__heading {
  //   margin: 0;
  // }

  &__info-text {
    color: var(--grayish-blue);
    font-size: 1.5rem;
    margin-top: 1.6rem;
  }
}

.card-wrap {
  max-width: 144rem;
  height: 100vh;
  background-color: var(--light-grey);
  margin: 0 auto;
  display: grid;
  align-content: center;
  justify-content: center;
}
